<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876606771454-vto9f94cp7s6irt3rrchkbm7l9o5mus6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876606771454-vto9f94cp7s6irt3rrchkbm7l9o5mus6</string>
	<key>API_KEY</key>
	<string>AIzaSyCeJJH25opeaAGo4crwgfFWB7HQ19qGWA8</string>
	<key>GCM_SENDER_ID</key>
	<string>876606771454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.appsstudio.iOSExample.dev</string>
	<key>PROJECT_ID</key>
	<string>todaynews-ee953</string>
	<key>STORAGE_BUCKET</key>
	<string>todaynews-ee953.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876606771454:ios:1f3f77a3342a0e804e15af</string>
	<key>DATABASE_URL</key>
	<string>https://todaynews-ee953.firebaseio.com</string>
</dict>
</plist>